<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>855190962263-frn6nluu30u6l2alndk8rn2d3ork022b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFHbCVpME0eAR0dgLwlXjrt3-1L9wW-kg</string>
	<key>GCM_SENDER_ID</key>
	<string>855190962263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TabibAlBait.Doctorsapp</string>
	<key>PROJECT_ID</key>
	<string>tabib-al-bait-patient-care</string>
	<key>STORAGE_BUCKET</key>
	<string>tabib-al-bait-patient-care.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855190962263:ios:d1bc0bb58d0d5c972ba312</string>
</dict>
</plist>